/*.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
*/
.footer {
    background-color: #495E57;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    padding: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}



.footer-contact {
    font-weight: bold;
    color: #fff;
}

.footer-social {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    margin: 10px;
}

.footer-credits {
    text-align: center;
    padding-top: 20px;
}

.footerLogo {
    padding-left: 50px;
    padding-top: 100px;
}


.footer {
    overflow-x: hidden;
}